{% extends "base.html" %} {% block title %}Editor{% endblock %}
{% block nav %}
<li><a href="{% url 'stories' %}">Stories</a></li>
<li><a href="{% url 'logout' %}">Logout</a></li>
{% endblock %}

{% block content %}

<div>
  <section class="banner editor">
    <div class="card edit-form">
      <form method="POST" action="" class="">
        {% csrf_token %}

        <div class="txt_field">
          {{ editor.title }}
          <span></span>
          <label>Title</label>
        </div>
        <div>
          {{ editor.Story }}
        </div>
        <input type="submit" value="Post Story" />
      </form>
    </div>
  </section>
  
</div>
{% endblock %}