{% extends "base.html" %} {% block title %}Stories{% endblock %} {% block nav %}
<li><a href="{% url 'stories' %}">Stories</a></li>
<li><a href="{% url 'editor' %}">Write</a></li>
{% if request.user.is_authenticated %}
<li><a href="{% url 'logout' %}">Logout</a></li>
{% else %}
<li><a href="{% url 'login' %}">Login</a></li>
<li><a href="{% url 'register' %}">Register</a></li>
{% endif %}{% endblock %} {% block content %}
<section class="banner sub">
  <div>
    <h3>{{user.username}}</h3>
  </div>
</section>
<div class="stories">
  {% for story in story %}
  <div class="story-card">
    <div class="heading">
      <h4 class="title">{{story.title}}</h4>
    </div>
    <p class="text">{{story.Story|truncatechars:200}}</p>

    <hr />
    <a href="/user/{{story.user}}/{{story.id}}/"><span>Read Full</span></a>
  </div>
  {% endfor %}
</div>
{% endblock %}
